In [250]:
import os
import csv
from bs4 import BeautifulSoup
import pandas as pd
import requests as rq
import time
import random
import unicodedata
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import *
import string
import re
from math import *
import json
from collections import defaultdict
from scipy import spatial
import heapq

In [4]:
path = os.getcwd()
movies = pd.DataFrame(pd.read_html(path + "\\movies1.html")[0])
movies.drop('Id', inplace=True, axis = 1)

In [111]:

# for i in range(len(movies)):
#     try:
#         response = rq.get(movies.URL[i])
#     except rq.exceptions.RequestException as e:
#         print(e)
#         time.sleep(20*60 + 30)
#         response = rq.get(movies.URL[i])
#     soup = BeautifulSoup(response.text, 'html.parser')
#     f = open('article_'+str(i)+'.html','w')
#     f.write(str(soup))
#     f.close()
#     time.sleep(random.choice(range(1,6)))

In [58]:
path1 = path + '\\Articles'
path1

'C:\\Users\\simon\\Desktop\\ADM\\Homework 3\\Articles'

In [415]:
# for i in range(30000):
#     article = open(path1+'\\article_'+str(i)+'.html', 'r')
#     soup = BeautifulSoup(article, 'html.parser')
#     d = {}
#     try:
#         for x in soup.find('table', class_="infobox vevent").find('th').find_all_next('th'):
#             d[x.text] = unicodedata.normalize('NFKD',x.next_sibling.get_text(separator = '<br/>').replace('<br/>', ',').strip())
#     except:
#         pass
#     title = str(soup.select('h1')[0].text)

#     start = soup.find('p')
#     intro = start.text.strip()
#     while len(intro) == 0:
#         start = start.find_next('p')
#         intro = start.text.strip()
#     for elem in start.next_siblings:
#         if elem.name != 'p':
#             break
#         intro += elem.text.strip()   

#     try:
#         start = soup.find('h2').find_next('p')
#         plot = start.text.strip()
#         for elem in start.next_siblings:
#             if elem.name != 'p':
#                 break
#             plot += elem.text.strip()

#     except:
#         plot = "NA"




#     try :
#             director = d['Directed by']
#     except: 
#             director = "NA"

#     try :
#             producer = d['Produced by']
#     except: 
#             producer = "NA"

#     try :

#             writer = d["Written by"]
#     except:
#             writer = "NA"


#     try :
#             starring = d["Starring"].strip()

#     except:
#             starring = "NA"

#     try :

#             music = d["Music by"]
#     except :
#             music = "NA"

#     try :
#             release_date = d["Release date"]

#     except :

#             release_date = "NA"

#     try :
#             run_time = d["Running time"]

#     except :
#             run_time = "NA"

#     try :
#             country = d["Country"]

#     except :

#             country = "NA"

#     try :
#             language = d["Language"]

#     except:
#             language = "NA"


#     try :
#             budget = d["Budget"]

#     except :
#             budget = "NA"


#     with open(path+"\\TSV\\article_" + str(i) + ".tsv", "w" ,encoding="utf-8") as out_file:
#             tsv_writer = csv.writer(out_file, delimiter='\t')
#             tsv_writer.writerow(['title', 'intro', 'plot', 'director', 'producer', 'writer' , 'starring', 'music', 'release_date','run_time', 'country' , 'language' , 'budget'])
#             tsv_writer.writerow([title, intro, plot, director, producer, writer , starring, music, release_date,run_time, country , language , budget])

In [59]:
df  = pd.DataFrame(pd.read_csv(path+"\\TSV\\article_" + str(i) + ".tsv", delimiter = '\t').iloc[:,0:3])
df

,title,intro,plot
0,Jack and the Beanstalk (1902 film),Jack and the Beanstalk is a 1902 American shor...,In this earliest known adaptation of the class...

In [60]:
path2 = path+'\\TSV\\'

In [61]:
stop_words = set(stopwords.words('english')) 
stemmer = PorterStemmer()

In [62]:
def clean(text):
    text = text.lower()
    words = word_tokenize(text) #devide the text into substrings
    filtered1 = [w for w in words if not w in stop_words] #remove stop words
    filtered2 = list(filter(lambda word: word not in string.punctuation, filtered1))
    filtered3 = []
    for word in filtered2:
        try:
            filtered3 += re.findall(r'\w+', word) 
        except:
            pass
    
    filtered3 = [stemmer.stem(w) for w in filtered3] #stemming
    filtered4 = [c.replace("''", "").replace("``", "") for c in filtered3 ] #removing useless '' and  `` characters
    filtered4 = [f for f in filtered4 if len(f)>1]
    return filtered4

In [588]:
allwords = list()
docwords = dict()
tsvs = dict()
for i in range(0,30000):
    with open(path2+"article_" + str(i) + ".tsv", encoding = "utf-8") as fd:
        rd = csv.reader(fd, delimiter="\t", quotechar='"')
        for row in rd:
            if row :
                tsv = row
    text = ' '.join([tsv[1],tsv[2]])
    tsvs[i] = tsv
    cleared = clear(text)
        
    docwords['document_'+str(i)] = cleared
    allwords += cleared

In [279]:
tsvs = dict()
for i in range(0,30000):
    with open(path2+"article_" + str(i) + ".tsv", encoding = "utf-8") as fd:
        rd = csv.reader(fd, delimiter="\t", quotechar='"')
        for row in rd:
            if row :
                tsv = row
    tsvs[i] = tsv

In [285]:
savetojson(path+"\\tsvs.json", tsvs)

In [284]:
path

'C:\\Users\\simon\\Desktop\\ADM\\Homework 3'

In [581]:
vocabulary = {}   
allwords = list(set(allwords))
for i in range(len(allwords)):
    vocabulary[str(i)] = allwords[i]

In [613]:
reverse_voc = {v:k for k,v in vocabulary.items()}

In [ ]:
from collections import defaultdict

inverted = defaultdict(list)
for doc in docwords.keys():
    for word in docwords[doc]:
        if not doc in inverted[reverse_voc[word]]:
            inverted[reverse_voc[word]].append(doc)

In [161]:
def savetojson(pathfile, obj):
    with open(pathfile, "w" ,encoding="utf-8") as out_file:
        out_file.write(json.dumps(obj, ensure_ascii = False))
        out_file.close()

In [ ]:
savetojson(path + "\\WORDS\\DocWords.json", docwords)
savetojson(path + "\\WORDS\\vocabulary.json", vocabulary)
savetojson(path + "\\WORDS\\Inverted_index.json", inverted)

# Search Engine

In [63]:
query = input("Insert your query: ")

Insert your query: disney 2019

In [64]:
query = clean(query)
query

['disney', '2019']

In [67]:
with open(path + "\\WORDS\\vocabulary.json", encoding = "utf-8") as fd:
        vocabulary = json.load(fd)
with open(path + "\\WORDS\\Inverted_index.json", encoding = "utf-8") as fd:
        inverted_index = json.load(fd)
reverse_voc = reverse_voc = {v:k for k,v in vocabulary.items()}

In [68]:
#now we define a function to get the query and return term_id of each vocab in query if they exist in vocabulary dataset
def get_query_index(query) :
    indexes = []
    for i in range(len(query)) :
        if query[i] in vocabulary.values() : #if the vocab in query exist in vocabulary dataset
            indexes.append(reverse_voc[query[i]]) #add term_id of that vocab to query

        else : #if it does not exist in vocabulary we replace it with 0
            indexes.append('NA')
    return(indexes)

Now we write a function to execute the query. First we should build a list that contains set of inverted_indexes of query elements and then since we want documents that contain all words of query we should find the intesection of these sets

In [69]:
def execute_query(query):
    query = get_query_index(query)
    docs = []
    for i in query :
        if (i == 'NA') : 
#if there is a vocab in query that does not exist in vocabulary dataset, there isn't a match and we should terminate the function
            return("No match for your query")
        else :
            docs.append(set(inverted_index[i]))
        
    docs = set.intersection(*docs)
    return(docs)

In [77]:
#Creating URL Database
Movies = dict()
c = 0
for i in range(1,4):
    movies = pd.DataFrame(pd.read_html(path + "\\movies" + str(i) + ".html")[0])
    movies.drop('Id', inplace=True, axis = 1)
    Urls = list(movies['URL'])
    for i in range(len(Urls)):
        Movies[str(10000*c + i)] = Urls[i]
    c += 1

In [310]:
savetojson(path+'\\AllMovies.json', Movies)

In [87]:
pd.DataFrame.from_dict(Movies, columns=['URL'], orient='index').tail()

                                                     URL
29995        https://en.wikipedia.org/wiki/Paarai_(film)
29996    https://en.wikipedia.org/wiki/Jayam_(2003_film)
29997      https://en.wikipedia.org/wiki/Kaadhal_Kondein
29998  https://en.wikipedia.org/wiki/Kovilpatti_Veera...
29999  https://en.wikipedia.org/wiki/Whistle_(2003_film)

In [147]:
def Linked_URL(val): #we will use this to make the urls in output clickable
        # target _blank to open new window
        return '<a target="_blank" href="{}">{}</a>'.format(val, val)
    
def replacer(val):      #This is used to escape the character $ in the output for Intro,
    return val.replace('$', '\$')      #otherwise it would be interpreted by displayer

In [200]:
def get_results(query):
    results = []
    for file in execute_query(query):
        docid = file.split('_')[1]
        tsv = []
        with open(path2+"article_" + docid + ".tsv", encoding = "utf-8") as fd:
            rd = csv.reader(fd, delimiter="\t", quotechar='"')
            for row in rd:
                if row :
                    tsv.append(row)
        data = tsv[1]
        results.append([docid,data[0],data[1],Movies[docid]])  #create movies file before
        opentsv.close()
    result = pd.DataFrame(results, columns = ['Id','Title', 'Intro', 'Wikipedia Url'])
    return result

In [353]:
result = get_results(query)
result.head().style.format({'Wikipedia Url': Linked_URL}).format({'Intro': replacer})  # to get clickable urls

['lion']

# TFIDF Inverted Index

In [149]:
with open(path + "\\WORDS\\Inverted_index.json", encoding = "utf-8") as fd:
        inverted_index = json.load(fd)

In [151]:
with open(path + "\\WORDS\\DocWords.json", encoding = "utf-8") as fd:
        docwords = json.load(fd)

In [321]:
IDFs = dict()
inv_ind_tfIDF = defaultdict(list)
for term in inverted_index.keys() :
        IDFs[term] = log(1+ 30000/len(inverted_index[term]))
        for doc in inverted_index[term] :
            tf = docwords[doc].count(vocabulary[term]) / len(docwords[doc])
            tfidf = tf * IDFs[term]
            inv_ind_tfIDF[term].append((doc,round(tfidf, 3)))

In [162]:
savetojson(path + "\\WORDS\\TfIdf_inv_index.json", inv_ind_tfIDF)

# 2.2) Conjunctive query & Ranking score

In [254]:
cosine_distance = spatial.distance.cosine
def cosine_similarity(a,b):
    return 1 - cosine_distance(a,b)

In [386]:
def querytf(query):
    qtf = defaultdict()
    for word in query :
        term_id = reverse_voc[word]
        try :
            qtf[term_id] += 1/len(query) 
            
        except :
            
            qtf[term_id] = 1/len(query)
    for term in qtf.keys():
        qtf[term] *= IDFs[term]
        
    return(qtf)

In [322]:
vocabulary = json.loads(open(path + "\\WORDS\\vocabulary.json", encoding = 'utf-8').read())
inv_ind_tfIDF = json.loads(open(path + "\\WORDS\\TfIdf_inv_index.json", encoding = 'utf-8').read())

In [379]:
def execute_SE2(query) :
    results = get_results(query)
    ids = get_query_index(query)
    wordtf = defaultdict(list)
    for i in results['Id']:
        doc = 'document_'+str(i)
        for term in ids:
            for docs in inv_ind_tfIDF[term]:
                if docs[0] == doc:
                    wordtf[i].append(docs[1])
        
    return(wordtf)

In [ ]:
with open(path + "\\tsvs.json", encoding = "utf-8") as fd:
        newdict = json.load(fd)

In [389]:
query = input("insert your text : ")

query = clean(query)

wordtf = execute_SE2(query)
qtfs = querytf(query)
list_query = list(qtfs.values())

heap = []
for doc in wordtf:
    heapq.heappush(heap, (cosine_similarity(list_query, wordtf[doc]), doc))
    

    
heap_result = heapq.nlargest(10, heap)
df = dict()
for x,y in heap_result:
    df[y] = newdict[y][0:2]
    df[y].append(Movies[y])
    df[y].append(x)
     # to get clickable urls
df = pd.DataFrame.from_dict(df, orient = 'index', columns=['Title', 'Intro', 'URL', 'Score'])
df.style.format({'URL': make_clickable}).format({'Intro' : replacer})

insert your text : lion king disney

[1.5329187392593246, 0.962692185457649, 1.4026825549898354]

In [255]:
cosine_similarity(list_query, wordtf['12282'])

1.0

In [246]:
wordtf['12282']
list_query

[1.0]

In [235]:
execute(query)

defaultdict(list,
            {'12282': [0.007],
             '10261': [0.153],
             '15530': [0.025],
             '21994': [0.021],
             '17141': [0.007],
             '9706': [0.012],
             '20866': [0.012],
             '8386': [0.054],
             '2892': [0.022],
             '12943': [0.013],
             '13336': [0.051],
             '16819': [0.015],
             '15005': [0.009],
             '9070': [0.015],
             '14358': [0.009],
             '14979': [0.009],
             '14867': [0.009],
             '13043': [0.009],
             '9365': [0.038],
             '13497': [0.019],
             '12060': [0.02],
             '7957': [0.021],
             '13573': [0.04],
             '7576': [0.032],
             '14774': [0.035],
             '4440': [0.08],
             '15872': [0.02],
             '3829': [0.03],
             '8300': [0.028],
             '14195': [0.023],
             '16016': [0.007],
             '15321': [0.039],
             '15917': [0.026],
             '15703': [0.023],
             '11752': [0.008],
             '7243': [0.047],
             '9876': [0.008],
             '13857': [0.039],
             '16323': [0.022],
             '13834': [0.007],
             '11028': [0.026],
             '13601': [0.019],
             '14583': [0.009],
             '17029': [0.028],
             '15085': [0.007],
             '11459': [0.019],
             '12939': [0.037],
             '26084': [0.009],
             '19386': [0.048],
             '16916': [0.007],
             '9798': [0.017],
             '13957': [0.019],
             '16727': [0.01],
             '11567': [0.008],
             '11295': [0.008],
             '11204': [0.011],
             '28077': [0.013],
             '8589': [0.025],
             '5720': [0.147],
             '10487': [0.039],
             '8125': [0.026],
             '10114': [0.044],
             '11057': [0.028],
             '15239': [0.008],
             '17007': [0.008],
             '2563': [0.013],
             '1976': [0.016],
             '14397': [0.032],
             '12915': [0.01],
             '11591': [0.014],
             '16712': [0.022],
             '7158': [0.01],
             '9664': [0.015],
             '13086': [0.03],
             '12853': [0.005],
             '3522': [0.011],
             '7840': [0.027],
             '20112': [0.046],
             '20732': [0.008],
             '16603': [0.018],
             '11422': [0.04],
             '15377': [0.007],
             '11334': [0.007],
             '12480': [0.024],
             '14969': [0.01],
             '12916': [0.008],
             '11878': [0.011],
             '16113': [0.051],
             '15651': [0.052],
             '9512': [0.005],
             '14264': [0.015],
             '16019': [0.008],
             '15865': [0.011],
             '22259': [0.006],
             '12101': [0.013],
             '14073': [0.009],
             '3027': [0.041],
             '16715': [0.008],
             '2865': [0.027],
             '7993': [0.033],
             '15851': [0.016],
             '17018': [0.004],
             '9205': [0.008],
             '13209': [0.027],
             '14265': [0.025],
             '14179': [0.007],
             '16928': [0.008],
             '12595': [0.008],
             '16067': [0.047],
             '21585': [0.029],
             '15197': [0.055],
             '9586': [0.01],
             '10368': [0.008],
             '5923': [0.069],
             '15319': [0.012],
             '11939': [0.009],
             '8246': [0.021],
             '26100': [0.014],
             '16610': [0.007],
             '14052': [0.047],
             '14592': [0.007],
             '8955': [0.017],
             '13646': [0.017],
             '12538': [0.021],
             '12262': [0.007],
             '11463': [0.01],
             '13565': [0.018],
             '13139': [0.008],
             '12311': [0.009],
             '6240': [0.04],
             '9156': [0.011],
             '7843': [0.019],
             '15867': [0.029],
             '11176': [0.059],
             '20615': [0.009],
             '14115': [0.043],
             '9521': [0.016],
             '16430': [0.027],
             '26242': [0.005],
             '10984': [0.008],
             '15871': [0.012],
             '19685': [0.035],
             '6514': [0.022],
             '26376': [0.026],
             '8787': [0.018],
             '9134': [0.014],
             '14099': [0.015],
             '8202': [0.056],
             '10308': [0.019],
             '11695': [0.049],
             '16851': [0.024],
             '17164': [0.013],
             '16893': [0.007],
             '16020': [0.007],
             '10983': [0.028],
             '14821': [0.007],
             '16254': [0.022],
             '10629': [0.016],
             '1602': [0.013],
             '8114': [0.022],
             '11041': [0.014],
             '7716': [0.044],
             '8591': [0.022],
             '15365': [0.007],
             '16682': [0.007],
             '7990': [0.044],
             '9775': [0.012],
             '12322': [0.011],
             '7919': [0.013],
             '14261': [0.007],
             '16555': [0.028],
             '6826': [0.008],
             '12024': [0.008],
             '20919': [0.008],
             '12470': [0.039],
             '17248': [0.007],
             '17227': [0.043],
             '5728': [0.013],
             '6298': [0.037],
             '7486': [0.02],
             '3624': [0.029],
             '1697': [0.051],
             '16472': [0.011],
             '9005': [0.005],
             '16670': [0.007],
             '13479': [0.005],
             '17030': [0.008],
             '17417': [0.011],
             '12783': [0.028],
             '12171': [0.038],
             '16783': [0.007],
             '9757': [0.057],
             '9325': [0.009],
             '10186': [0.008],
             '7409': [0.033],
             '10281': [0.025],
             '12119': [0.008],
             '12031': [0.009],
             '9980': [0.105],
             '8483': [0.017],
             '8977': [0.041],
             '7185': [0.008],
             '12304': [0.007],
             '10282': [0.062],
             '9528': [0.023],
             '14540': [0.138],
             '11093': [0.013],
             '10452': [0.03],
             '9008': [0.017],
             '14017': [0.049],
             '15215': [0.007],
             '11655': [0.025],
             '13416': [0.016],
             '3183': [0.017],
             '17066': [0.028],
             '16901': [0.008],
             '16220': [0.007],
             '11879': [0.011],
             '5265': [0.046],
             '14225': [0.031],
             '14657': [0.009],
             '16911': [0.007],
             '13261': [0.021],
             '11858': [0.015],
             '12004': [0.011],
             '9989': [0.007],
             '16424': [0.007],
             '7535': [0.018],
             '10150': [0.026],
             '10614': [0.007],
             '10338': [0.012],
             '3124': [0.054],
             '9679': [0.013],
             '5996': [0.128],
             '16577': [0.144],
             '6789': [0.069],
             '5967': [0.047],
             '14541': [0.007],
             '15118': [0.053],
             '16120': [0.016],
             '11452': [0.038],
             '29265': [0.022],
             '12110': [0.008],
             '11522': [0.051],
             '14192': [0.016],
             '14309': [0.032],
             '17333': [0.035],
             '15836': [0.007],
             '15570': [0.015],
             '5236': [0.014],
             '11067': [0.008],
             '15317': [0.021],
             '9782': [0.036],
             '11264': [0.019],
             '5818': [0.02],
             '14097': [0.027],
             '10960': [0.031],
             '4306': [0.053],
             '3234': [0.029],
             '11420': [0.012],
             '10479': [0.018],
             '17154': [0.007],
             '16298': [0.013],
             '16861': [0.021],
             '3906': [0.034],
             '5418': [0.022],
             '12961': [0.01],
             '12380': [0.044],
             '1298': [0.035],
             '4684': [0.009],
             '7885': [0.041],
             '5999': [0.026],
             '12872': [0.008],
             '17038': [0.008],
             '5777': [0.105],
             '10084': [0.059],
             '17270': [0.011],
             '8070': [0.039],
             '5423': [0.058],
             '14986': [0.007],
             '13617': [0.011],
             '15952': [0.008],
             '16527': [0.029],
             '5952': [0.017],
             '9413': [0.011],
             '11794': [0.009],
             '8183': [0.008],
             '11943': [0.017],
             '12273': [0.007],
             '16226': [0.037],
             '14058': [0.009],
             '3689': [0.008],
             '3276': [0.014],
             '7845': [0.02],
             '9453': [0.014],
             '16799': [0.053],
             '6531': [0.015],
             '9253': [0.007],
             '15545': [0.008],
             '3864': [0.023],
             '13826': [0.014],
             '7407': [0.088],
             '12416': [0.021],
             '8308': [0.023],
             '17262': [0.007],
             '11437': [0.012],
             '16992': [0.006],
             '29195': [0.01],
             '9783': [0.041],
             '7698': [0.011],
             '25221': [0.008],
             '3537': [0.044],
             '27947': [0.149],
             '15037': [0.009],
             '16983': [0.029],
             '8116': [0.027],
             '15656': [0.029],
             '14955': [0.014],
             '5098': [0.022],
             '15996': [0.009],
             '16900': [0.034],
             '6479': [0.033],
             '9295': [0.012],
             '12235': [0.021],
             '10517': [0.014],
             '3056': [0.018],
             '13492': [0.031],
             '15477': [0.008],
             '15971': [0.01],
             '12074': [0.009],
             '14659': [0.022],
             '11346': [0.02],
             '12514': [0.015],
             '15234': [0.006],
             '14854': [0.01],
             '12511': [0.011],
             '15685': [0.014],
             '9488': [0.02],
             '4174': [0.013],
             '10056': [0.026],
             '15860': [0.013],
             '5936': [0.045],
             '8853': [0.022],
             '16202': [0.007],
             '7402': [0.055],
             '7741': [0.015],
             '14143': [0.046],
             '11986': [0.043],
             '16834': [0.008],
             '5722': [0.029],
             '4751': [0.036],
             '11311': [0.008],
             '16540': [0.014],
             '12527': [0.01],
             '16004': [0.006],
             '6654': [0.034],
             '14987': [0.009],
             '6539': [0.062],
             '14182': [0.027],
             '21017': [0.008],
             '12618': [0.008],
             '12457': [0.01],
             '7145': [0.02],
             '13502': [0.021],
             '7353': [0.024],
             '12662': [0.046],
             '3622': [0.013],
             '14276': [0.007],
             '10062': [0.026],
             '13855': [0.028],
             '15600': [0.06],
             '14555': [0.009],
             '17014': [0.014],
             '7483': [0.025],
             '16707': [0.008],
             '12266': [0.009],
             '13726': [0.035],
             '15722': [0.036],
             '13119': [0.017],
             '16949': [0.023],
             '8174': [0.034],
             '13273': [0.008],
             '8855': [0.008],
             '26025': [0.009],
             '7952': [0.061],
             '15203': [0.016],
             '13833': [0.014],
             '16915': [0.008],
             '2870': [0.035],
             '15504': [0.026],
             '11843': [0.009],
             '6516': [0.007],
             '7744': [0.022],
             '8475': [0.063],
             '13874': [0.013],
             '17067': [0.007],
             '21587': [0.017],
             '15171': [0.011],
             '8918': [0.041],
             '15328': [0.026],
             '7241': [0.024],
             '15132': [0.01],
             '13016': [0.015],
             '14216': [0.036],
             '10274': [0.035],
             '12726': [0.008],
             '16100': [0.007],
             '10240': [0.016],
             '3608': [0.069],
             '12504': [0.008],
             '8815': [0.005],
             '8292': [0.007],
             '15691': [0.015],
             '11784': [0.016],
             '16130': [0.008],
             '11790': [0.017],
             '11339': [0.042],
             '16962': [0.035],
             '9343': [0.101],
             '12534': [0.009],
             '7599': [0.048],
             '14488': [0.006],
             '5053': [0.055],
             '2416': [0.024],
             '17112': [0.021],
             '20262': [0.007],
             '16744': [0.006],
             '13095': [0.06],
             '16736': [0.008],
             '16014': [0.011],
             '13225': [0.058],
             '5832': [0.025],
             '10389': [0.03],
             '13011': [0.214],
             '12927': [0.009],
             '13680': [0.022],
             '8655': [0.013],
             '10946': [0.008],
             '15559': [0.005],
             '8941': [0.027],
             '14974': [0.008],
             '7384': [0.04],
             '14402': [0.007],
             '21519': [0.006],
             '11265': [0.006],
             '14435': [0.007],
             '2281': [0.038],
             '16483': [0.006],
             '16513': [0.007],
             '7041': [0.043],
             '16404': [0.006],
             '13520': [0.022],
             '11148': [0.015]})

In [175]:
query = input("insert your text : ")

query = clean(query)

insert your text : disney movie

In [180]:
querytf(query)

{'95223': 0.5, '28257': 0.5}

In [469]:
with open(path2+'article_15048.tsv', encoding = 'utf8') as fd:
    rd = csv.reader(fd, delimiter="\t", quotechar='"')
    for row in rd:
        if row :
            tsv = row
            
d = {}

if tsv[6] == 'NA':
    d['Starring'] = '0'
else:
    d['Starring'] = str(len(tsv[6].split(',')))

try:
    d['Release Year'] = re.search(r'\d{4}', tsv[8]).group(0)
except:
    d['Release Year'] = '0'
    
try:
    d['Runtime']      = re.search(r'\d+.*',tsv[9]).group(0)
except:
    d['Runtime']    = '0'

#some movies have running time expressed in reels, and the conversion in minutes is not univoque, so we'll just ignore those info
if re.search(r'min', d['Runtime']):
    d['Runtime'] = re.search(r'\d+[\.|\,|:]*\d*', d['Runtime']).group(0)
    d['Runtime'] = re.search(r'\d+', d['Runtime']).group(0)
else:
    d['Runtime'] = '0'
    
try:
    d['Budget']   = re.findall(r'\$.*', tsv[12])[0]
except:
    d['Budget']  = '0'

if re.search(r'mil', d['Budget']):
    d['Budget']  = str(int(float(re.search(r'\d+[\.|\,]*\d*', d['Budget']).group(0))*10**6))
elif re.search(r',', d['Budget']):
    d['Budget'] = d['Budget'].replace(',', '').replace('$', '')
else:
    d['Budget'] = d['Budget'].replace('.', '').replace('$', '')

d

{'Starring': '9',
 'Release Year': '2007',
 'Runtime': '122',
 'Budget': '55000000'}

'document_0'

In [657]:
savetojson(path+"\\WORDS\\tfidf_index.json", inv_ind_tfIDF)

In [537]:
q = dict()
q['runtime'] = 150
Runtimes = [6,12,15,57,100,132]
minrun = min(Runtimes)
maxrun = max(Runtimes)
if d['Runtime'] != 0:
    runscore = 1 - abs(int(q['runtime'])- int(d['Runtime']))/(maxrun - minrun)
else:
    runscore = 0
runscore

maxbud = 400000000
minbud = 500
q['Budget'] = "expensive"

if q['Budget'] == 'expensive':
    bud_score = (maxbud - int(d['Budget']))/(maxbud-minbud)
elif q['Budget'] == 'inexpensive':
    bud_score = (int(d['Budget']) - minbud)/(maxbud-minbud)
    
bud_score

0.8625010781263477

In [ ]:
q[]

In [2]:
q = dict()
oldnew = input("Do you prefer an old movie or a new-released movie? Please type O for Old and N for New:")
if oldnew == "O" :
    q["release"] = "O"
if oldnew == "N" :
    q["release"] = "N"
    
    
    
year = input("Do you want to specify the release year ?Please type Y for Yes and N for No: ")
if year == "N" :
    q["year"] = "NA"
if year == "Y" :
    year = input("please specify the release date") 
    q["year"] = year
    
    

Runtime = input("Do you want to specify the length of the movie? Please type Y for Yes and N for No:")
if Runtime == "N" :
    q["Runtime"] = "NA"
if Runtime == "Y" :
    Runtime = input("please specify the length of the movie")
    q["Runtime"] = Runtime
    
    
starring = input("Is number of stars an important factor for you? Please type Y for Yes and N for No:")
q["starring"] = starring


budget = input("Is movie budget an important factor for you? Please type Y for Yes and N for No:")
q["budget"] = budget

Do you prefer an old movie or a new-released movie? Please type O for Old and N for New:O
Do you want to specify the release year ?Please type Y for Yes and N for No: Y
please specify the release date1924
Do you want to specify the length of the movie? Please type Y for Yes and N for No:Y
please specify the length of the movie120
Is number of stars an important factor for you? Please type Y for Yes and N for No:Y
Is movie budget an important factor for you? Please type Y for Yes and N for No:10